doctype 
html
  head
    title Database Explorer
    link(rel='stylesheet', href='/styles.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="index.js")
    link(href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')

  body.bg-red-gradient
    .database-selector
      a#mysql-selector(href="#mysql") MySQL
      a#postgres-selector(href="#postgres") Postgres

    form.panel.overflow-hidden(
      action="/mysql" 
      method="post"
      id="mysql"
    )
      label.large Connect To MySQL Database
      input(
        type='text'
        name='host'
        id='mysql-host'
        placeholder='Host'
      )

      input(
        type='text'
        name='user'
        id='mysql-user'
        placeholder='User'
      )
      input(
        type='password'
        name='password'
        id='mysql-password'
        placeholder='Password'
      )
      input.submit.bg-red-gradient(
        type='submit'
        value='Connect'
      )


    form.panel.overflow-hidden(
      action="/postgres" 
      method="post"
      id="postgres"
    )
      label.large Connect To Postgres Database
      input(
        type='text'
        name='host'
        id='postgres-host'
        placeholder='Host'
      )

      input(
        type='text'
        name='user'
        id='postgres-user'
        placeholder='User'
      )
      input(
        type='password'
        name='password'
        id='postgres-password'
        placeholder='Password'
      )
      input(
        type='text'
        name='port'
        id='postgres-port'
        placeholder='Port'
      )
      input.submit.bg-blue-gradient(
        type='submit'
        value='Connect'
      )
